.check-in-content{
    position: relative;
    min-height: 100vh;
    background-image:url('/img/hero.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}